@using System.Reflection
@{
    IEnumerable<Type> controllers =
        from t in Assembly.GetExecutingAssembly().DefinedTypes
        where t.Namespace == "MVCSampleApp.Controllers"
            && t.Name.EndsWith("Controller")
        select t;
    var routeValues = ViewContext.ActionDescriptor.RouteValues;
    string? title = ViewData[Title]?.ToString() ?? routeValues["controller"];
    string? secondTitle = ViewData[SecondTitle]?.ToString() ?? routeValues["action"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[Title] - MVCSampleApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCSampleApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MVCSampleApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @foreach (Type controller in controllers)
                        {
                            string name = NameHelper.Controller(controller);
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="@name" asp-action="Index">@name</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <h2>@title</h2>
            <h3>@secondTitle</h3>
            @RenderBody()
            <div>@ViewContext.ActionDescriptor</div>
            <ul>
                @foreach (string value in ViewContext.ActionDescriptor.GetPropertyValues())
                {
                    <li>@value</li>
                }
            </ul>
            <div>@ViewContext.ActionDescriptor.RouteValues</div>
            <ul>
                @foreach (KeyValuePair<string, string> value in ViewContext.ActionDescriptor.RouteValues)
                {
                        <li>@value</li>
                }
            </ul>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MVCSampleApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
